.card {
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 2.2rem;
  box-shadow: $shadowDark;

  &-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    &__img {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
    }

    img {
      border-radius: 50%;
    }

    &-profile {
      text-align: left;
      margin-left: 1rem;

      h1 {
        font-size: 0.9rem;
      }

      p {
        opacity: 50%;
      }
    }
  }

  &-quote-main {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  &-quote-secondary {
    font-size: 0.9rem;
    opacity: 70%;
  }

  &:first-child {
    background-image: url('/fem-testimonials-grid-section-main/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 1.5rem;
    background-color: $moderateViolet;
  }

  &:nth-child(2) {
    background-color: $veryDarkGrayishBlue;
  }

  &:nth-child(3) {
    color: $veryDarkGrayishBlue;
    background-color: $white;

    h1 {
      opacity: 70%;
    }
  }

  &:nth-child(4) {
    background-color: $veryDarkBlackishBlue;
  }

  &:last-child {
    background-color: $white;
    color: $veryDarkGrayishBlue;
    opacity: 0.7;
  }
  
  @media (min-width:992px) {
    margin-bottom: 0;
    padding: 1.5rem;
  
    &:first-child {
      background-position: top right 4.2rem;
    }  

    &:first-child {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:last-child {
      grid-area: e;
    }
  }

}

