// Colors
$moderateViolet: hsl(264, 55%, 52%);
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$veryDarkBlackishBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue: hsl(210, 46%, 95%);

// Shadows
$shadowLight: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadowDark: 0 5px 15px rgba(0, 0, 0, 0.2);

// Font
$primary: "Barlow Semi Condensed", sans-serif;